$principal: #6545DE;
$variante-principal: #241937;
$variante-principal2:#8d72f1; 
$burbuja-me: #4E38A3;
$texto-me: #F3F1F9;
$burbuja-el: #19182A;
$texto-el: #9F9BAC;
$background: #12121C;
$background2: #161225;
$background3: #202032;
$conversacion-on: #161423;
$background-field: #201A2C;
$background-app: #161D2E;
$background-app2: #171825;
$titulo-app: #4499E6;
$texto-app: #7597B7;
$subtitulo: #CCBDE4;
$subtitulo2: #76767D;
$parrafo: #4D4760;
$linea: #2B2039;
$fecha-chat: #AFAFAE;
$blanco: #fff;
$title1: 14px;
$title2: 12px;
$title3: 10px;
$fuente1: 'Poppins', sans-serif;
$fuente2: 'Lato', sans-serif;

